html(lang="ru")
    head
        include includes/head
    body
        .main-section.container.mt-2
            .ui.grid
                .three.wide.column
                    include includes/sidebar
                .thirteen.wide.column
                    .content.ui.segment
                        .ui.link.cards.flex.-between.pt-10px.pb-10px.pl-5px.pr-5px
                            .card.mb-15px.w32p
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.teal.button Нравится
                                        .ui.red.button Не нравится
                            .card.mb-15px.w32p
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.teal.button Нравится
                                        .ui.red.button Не нравится
                            .card.mb-15px.w32p
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.teal.button Нравится
                                        .ui.red.button Не нравится
                            .card.mb-15px.w32p
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.teal.button Нравится
                                        .ui.red.button Не нравится
                            
                                        


                      


                



        