doctype html
head
    meta(charset='UTF-8')
    title StarterKit
    meta(name='description' content='')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' type='image/i-icon' href='assets/img/favicon.png')
    link(rel="stylesheet" href='/css/semantic.min.css')
    //- link(rel='stylesheet' href='/css/fonts.css')
    link(rel='stylesheet' href='/css/main.css')
    