.sidebar
    .sidebar-list.ui.vertical.menu
        a(href="index.html").sidebar-list__item.item.active Обучать модель 
        a(href="messages.html").sidebar-list__item.item Мои сообщения
        a(href="model-results.html").sidebar-list__item.item Результаты модели
            .ui.teal.label 4
        