.sidebar
    .sidebar-list.ui.vertical.menu
        a(href="index.html").sidebar-list__item.item Мой профиль
        a(href="learn-model.html").sidebar-list__item.item.active Обучать модель 
            .ui.teal.label 74
        a(href="like.html").sidebar-list__item.item Понравившиеся
            .ui.teal.label 4
        a(href="messages.html").sidebar-list__item.item Мои сообщения
            .ui.teal.label 6