@for $i from 1 through 20 {
    .w#{$i * 5}p {
        width:$i * 5%;
    }
    .h#{$i * 5}p {
        height:$i * 5%;
    }
}

@for $i from 1 through 50 {
    .w#{$i}p {
        width:#{$i}% !important;
    }
    .h#{$i}p {
        height:#{$i}% !important;
    }
}
.w16p {
    width:16.66% !important;
}
.w33p {
    width:33.33% !important;
}
.w66p {
    width:66.66% !important;
}

.w100p {
    width:100% !important;
}
.h16p {
    height:16.66% !important;
}
.h33p {
    height:33.33% !important;
}
.h66p {
    height:66.66% !important;
}
.h100p {
    height:100% !important;
}
.maxW-auto {
    max-width:auto !important;
}
.maxH-auto {
    max-height:auto !important;
}
.minW-auto {
    min-width:auto !important;
}
.minH-auto {
    min-height:auto !important;
}
.w-auto {
    width:auto !important;
}
.h-auto {
    height:auto !important;
}
.w0 {
    width:0 !important;
}
.h0 {
    height:0 !important;
}