html(lang="ru")
    head
        include includes/head
    body
        .main-section.container.mt-2
            .ui.grid
                .three.wide.column
                    include includes/sidebar
                .thirteen.wide.column
                    .content.ui.segment.pb-4.flex.-left
                        h2.ui.header Автоматически отправить сообщение
                        .ui.small.message
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sit fugiat ea omnis repellat obcaecati eos maxime facere dolorum magnam nesciunt, unde officiis enim soluta minus dolorem. Voluptatibus, vero at.
                        .ui.small.message
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sit fugiat ea omnis repellat obcaecati eos maxime facere dolorum magnam nesciunt, unde officiis enim soluta minus dolorem. Voluptatibus, vero at.
                        .ui.small.message
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sit fugiat ea omnis repellat obcaecati eos maxime facere dolorum magnam nesciunt, unde officiis enim soluta minus dolorem. Voluptatibus, vero at.
                                     

                



        