html(lang="ru")
    head
        include includes/head
    body
        .main-section.container.mt-2
            .ui.grid
                .three.wide.column
                    include includes/sidebar
                .thirteen.wide.column
                    .content.ui.segment.pb-4.flex.-left.-column
                        h2.ui.header Автоматически отправить сообщение
                        .flex.-column.w100p
                            .ui.small.message.mb0.w100p
                                p Привет, как дела?
                            .ui.small.message.mb0.w100p
                                p Пошли гулять, красотка!
                            .ui.small.message.w100p
                                p Suck my dick!
                            .ui.input.mb-15px.w100p
                                input(placeholder="Введите свое сообщение")
                                .ui.button.teal.ml-5px Добавить
                            .ui.input.mb-15px.w100p
                                input(placeholder="Введите свое сообщение")
                                .ui.button.teal.ml-5px Добавить

                



        