html(lang="ru")
    head
        include includes/head
    body
        .main-section.container.mt-2
            .ui.grid
                .three.wide.column
                    include includes/sidebar
                .thirteen.wide.column
                    .content.ui.segment
                        h1.ui.header Предсказание модели
                        hr
                        .ui.link.cards.flex.-center.pt-10px.pb-10px.pl-5px.pr-5px
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.green Нравится
                                        
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.red не нравится
                                        
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.red не нравится
                                        
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.green Нравится
                                        
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.red не нравится
                                        
                            .card
                                .image
                                    img(src="https://www.barahla.net/images/photo/4/20150829/4019910/big/144086134176636500_big.jpg")
                                .content
                                    .header Елена Головач
                                        span.right.floated.ui.label 27 лет
                                    .meta дизайнер
                                    //- .description Живу в Москве. Ищу парня
                                .extra.content
                                    .ui.buttons.flex.-center
                                        .ui.label.green Нравится
                                        
                            